# Jekyll
_site
.sass-cache

# Node
node_modules
npm-debug.log

# macOS
.DS_Store
*/.DS_Store
*/*/.DS_Store

# IDE
.idea/
*.iml

# Shell scripts (optional)
*.sh
shell/*

# Python
*.py
